@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
    height: 100vh;
    /* background-color: #00130E */
  }
  
@layer components {
    .h2 {
        @apply text-2xl font-bold leading-tight text-gray-700 mb-3;
    }
    .h3 {
        @apply text-xl font-bold leading-tight text-gray-700 mb-3;
    }
}

.table-spacing th:not(:last-child),
.table-spacing td:not(:last-child) {
  padding-right: 6px; 
}

.small-table-spacing th:not(:last-child),
.small-table-spacing td:not(:last-child) {
  padding-right: 3px; 
}

.pulsating-dot {
  width: 7px;
  height: 7px;
  background-color: #ff0000; 
  border-radius: 50%; 
  animation: pulsate 1s infinite ease-in-out;
}

@keyframes pulsate {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.5); 
    opacity: 0.7; 
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.yellowCard {
  margin-top: 0.5px;
  height: 12px;
  width: 8px;
  background-color: rgb(255, 208, 0);
  border-radius: 2px;
}

.redCard {
  margin-top: 0.5px;
  height: 12px;
  width: 8px;
  background-color: red;
  border-radius: 2px;
}